<%- include('../partials/header') %>
<main class="container">
  <h2>Bog: <%= book.title %></h2>
  <p><strong>Forfatter</strong>: <%= book.author %></p>
  <p><strong>Beskrivelse</strong>: <%= book.description %></p>
</main>
<%- include('../partials/footer') %>


